%rebase base
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>About Tower of London</h1>
    <p>The Tower of London problem consists of four balls, each a different colour, and three pegs. The patient is
      given the beginning state of balls and the end state; his goal is to get from the beginning state to the end
      state using as little moves as possible. The only constraint on the moves is the natural one, as we can only move
      the top ball of any peg, onto a peg which is not yet full.</p>
    <p>Since its invention in 1982, the Tower of London test has often been used to assess patient's planning ability.
      Some of the articles the test was used in are listed below.</p>
    <ul>
      <li><a href="/static/docs/altgassenPDplanWM.pdf" target="_blank">Role of working memory components in planning performance of
        individuals with Parkinson’s disease</a></li>
      <li><a href="/static/docs/langekw8.pdf" target="_blank">Fronto-striatal cognitive deficits at different stages of
        Parkinson's disease</a></li>
      <li><a href="/static/docs/754659.pdf" target="_blank">Tower of London Test: A Comparison between Conventional Statistic Approach
        and
        Modelling Based on Artificial Neural Network in Differentiating Fronto-Temporal Dementia from Alzheimer’s Disease</a></li>
    </ul>

    <h1>About us</h1>
    <p>Our goal is to make the already established psychological test Tower of London more accessible and
      easy-to-use for patients that may find a computer mouse hard to control. The programme tracks the patient's
      hand movements, making use of the Myo armband. The results of the test are then shown and analysed in this web
      application.
    </p>
    <p>The JIMM team consists of:</p>
    <ul>
      <li>Jure Slak</li>
      <li>Ines Meršak</li>
      <li>Marko Ljubotina</li>
      <li>Miloš Ljubotina</li>
    </ul>
  </div>
</div>
