.jumbotron h1 {
  font-size: 55px;
  margin-bottom: 25px;
}

.jumbotron p {
  font-size: 20px;
}

.jumbotron .btn-lg {
  margin-top: 20px;
  padding: 12px 18px;
}

.jumbotron {
  padding: 20px 0;
  background-color: #dddfe9;
  margin-bottom: 50px;
  margin-top: 30px;
}

.gallery-item h3 {
  text-align: center;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}

.chart-container {
  position: relative;
  display: inline-block;
}
.chart {
  display: block;
  left: 40px;
  width: 750px;
  margin-top: 30px;
}
.y-axis {
  margin-top: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

.legend {
  display: block;
  width: 180px;
/*   vertical-align: top; */
  margin: 10px -40px 0 10px;
  float: right;
}
